<h2><%= @list.name %></h2>
<p><%@list.bookmarks.each do |bookmark|%></p>
<h3><%= bookmark.movie.title %></h3>
<img src="<%= bookmark.movie.poster_url %>" alt="">
<p><%= bookmark.movie.overview %></p>
<%= bookmark.comment %>
<% end %>

<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
