<h2><%= @list.name %></h2>
<% if @list.photo.attached? %>
  <%= cl_image_tag @list.photo&.key, height: 300, width: 400, crop: :fill %>
  <% else %>
  <%= image_tag "https://source.unsplash.com/random", height: 300, width: 400, crop: :fill %>
<% end %>
<p><%@list.bookmarks.each do |bookmark|%></p>
<h3><%= bookmark.movie.title %></h3>
<img src="<%= bookmark.movie.poster_url %>" alt="">
<p><%= bookmark.movie.overview %></p>
<%= bookmark.comment %>
<%= link_to "Delete",
                  bookmark_path(bookmark),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
<% end %>


<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
<%= link_to "Back to the lists", home_path %>
